[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
parameterized = "*"
guppy3 = "*"
pytest-django = "*"
requests = "*"
websockets = "*"

[packages]
django = "==3.1.*"
graphene-django = "~=2.13.0"
psycopg2-binary = "~=2.8.5"
markdown = "*"
django-filter = "*"
django-cors-headers = "~=3.5.0"
markdown-del-ins = "*"
pymdown-extensions = "*"
prompt-toolkit = "*"
beautifulsoup4 = "*"
channels = "~=2.4.0"
channels-redis = "~=3.0.1"

[requires]
python_version = "3.8"
