[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
parameterized = "*"
guppy3 = "*"
pytest-django = "*"
requests = "*"

[packages]
django = "*"
graphene-django = "*"
psycopg2-binary = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
markdown-del-ins = "*"
pymdown-extensions = "*"
prompt-toolkit = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
