[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
django = "*"
graphene-django = "*"
psycopg2-binary = "*"
django-graphql-jwt = "*"
click = "*"
markdown = "*"

[requires]
python_version = "3.8"
